.App {
  font-family: 'Montserrat', sans-serif;
}

#header {
  color: rgb(114, 103, 180);
  font-weight: 900;
}

#header1 {
  color: white;
  font-weight: 900;
}

.header h3 {
  /* color: rgb(114, 103, 180); */
  font-weight: 900;
}



.header span {
  font-weight: 700;
}

.header {
  background-image: url('./pic/BG.png');
  height: 100vh;
  background-size: cover;
}

.register {
  background-image: url('./pic/BG3.png');
  height: 100vh;
  background-size: cover;
}

.SignInBox {
  padding-top: 100px;
  backdrop-filter: blur(10px);
}

.detial h1 {
  color: rgb(114, 103, 180);
}

.runimage {
  width: 100%;
  height: 300px;
}

.runimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.feed {
  height: 100%;
  background-size: cover;
}

.bgFeed {
  background-color: white;
  height: 100%;
}

.nevigator {
  padding: 15px;
  background-color: #626FF2;
  height: 100vh;
  position: fixed;

  box-shadow: rgb(136, 136, 136) 10px 10px 15px;
}

.nevigator hr {
  margin-left: auto;
  width: 250px;
  background-color: rgb(219, 219, 219);
}

.sidetext {
  text-align: center;
  color: white;
  display: none;
}

.sidetext hr {
  width: 90%;
}

.sidetext h4,
h4:hover {
  color: white;
  text-decoration: none;
}

.sidetext h4 button {
  color: white;
}

.sidetext1 {
  padding: 20px;
}

.sidetext1 hr {
  width: 90%;
}

.sidetext1 h4,
h4:hover {
  margin-top: 20px;
  color: white;
  text-decoration: none;
}

.Chat {
  padding: 20px;
}

.ListProfile {
  text-align: center;
  float: right;
  padding-top: 20px;
}

.ListProfile img {
  border-radius: 50%;
  object-fit: cover;
}

.Post {
  padding-left: 35px;
  height: 100vh;
  padding-left: 30px;
  padding-right: 30px;
}

.search {
  width: 87%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search>.inputSearch {
  width: 500px;
  padding-top: 10px;
}

.search>.btnSearch {
  width: 120px;
  padding: 10px;
}

.ToTop {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
}

.ToTop button {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.cover {
  position: relative;
  margin-top: 20px;
  height: 350px;
  padding: 10px;
}

.coverimg {
  opacity: 0.7;
  object-fit: cover;
}

.comment-box {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding-left: 10px;
  background-color: rgb(240, 240, 240);
}

.friend-list {
  padding-top: 30px;
}

.online-users {
  border: 4px solid #626FF2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-box-area {
  display: block;
  position: fixed;
  height: 330px;
  bottom: 0em;
  right: 20%;
}

.chat-box {
  width: 270px;
  height: 100vh;
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  box-shadow: 5px 5px 2px rgb(185, 185, 185);

}

.chat-box .header-chat {
  color: white;
  background-color: #626FF2;
  border-radius: 5px 5px;
  padding: 4px;
}

.chat-space {
  height: 37vh;
  overflow-y: auto;
}

.chat-input {
  width: 100%;
  height: 35px;
  background-color: white;
  color: #333333;
  border: none;
}

.footer-chat {
  position: relative;
  bottom: 0em;
}

.Link-name {
  color: rgb(57, 61, 107);
}

.comment-input {
  border-radius: 30px;
  background-color: rgb(240, 240, 240);
}

.cover img {
  border-radius: 10px 10px;
  width: 100%;
  height: 290px;
  object-fit: cover;
}

.profilepic {
  transition: 1s;
}

.profilepic:hover {
  opacity: 0.5;
}

.bottomleft {
  border-radius: 50%;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 38%;
}

.bottomleft img {
  width: 200px;
  height: 200px;
  border: 5px solid white;
  border-radius: 50%;
}



.p_profile_pic img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-data {
  margin-top: 100px;
}

.About {
  text-align: center;
}

.list-album {
  display: flex;
}

.list-album>.album {
  width: 150px;
  height: 200px;
  text-align: center;
  padding-right: 10px;
  padding-top: 10px;

}

.album img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  background-color: black;
  border-radius: 5px;
  transition: 0.5s;
}

.album img:hover {
  opacity: 1;
}

.profile-page {
  padding-bottom: 50px;
}

.post-box {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid rgb(238, 238, 238);
}

.post-box textarea {
  width: 100%;
  height: 150px;
  border: none;
}

.head-post-box {
  padding: 5px;
  color: black;
  background-color: rgb(238, 238, 238);
}

.head-post-box p {
  margin-top: 15px;
  margin-left: 10px;
}

.status-box {
  background-color: rgba(238, 238, 238, 0.288);
  border-radius: 5px;
  padding-bottom: 10px;
}

.grap {
  border-top: 1px solid rgb(219, 219, 219);
  border-bottom: 1px solid rgb(219, 219, 219);
}

.status-box p {
  word-break: break-all;
}

.btn-like {
  color: rgb(114, 103, 180);
}

.input-image-profile {
  text-align: center;
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"]+#for-picture {
  background-color: white;
  color: rgb(43, 43, 43);
  width: 100%;
  height: 30px;
}

[type="file"]+label {
  margin-top: 10px;
  background: rgb(114, 103, 180);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  font-weight: 600;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
}

.photo-post {
  position: relative;
  width: 100%;
  height: 350px;
}

.photo-post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-post-photo {
  background-color: #FAFAFA;
  border: none;
  padding: 0%;
  height: 350px;
}

.album-box {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  position: relative;
}

.img-album {
  width: 100%;
  height: 100%;
}

.img-album img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  transition: 1s;
}

.img-album img:hover {
  opacity: 0.8;
}

.name-album {
  position: absolute;
  width: 100%;
}

.name-album p {
  padding-left: 10px;
  background-color: rgb(54, 54, 54);
  width: 100%;
  color: white;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.image-preview {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.comment-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

#name-post {
  padding-top: 5px;
}

.top-left {
  position: absolute;
  top: 20px;
  left: 20px;
}

.cover-upload {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.815);
  border: none;
}

.friend-list-box {
  background-color: none;
  border: none;
  padding: 0%;
}

.exit-chat {
  margin-right: 10px;
  color: white;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 0px;
}

.message-me {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.message-friend {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.message-friend p {
  background-color: rgb(219, 219, 219);
  color: #333333;
  font: larger;
  border-radius: 20px;
  padding: 15px;
  line-height: 80%;
}

.message-me p {
  background-color: #626FF2;
  color: white;
  border-radius: 20px;
  padding: 15px;
  line-height: 80%;
}


@media only screen and (max-width: 767px) {
  #name-post {
    padding-top: 0;
  }

  .HeadText {
    width: 90vw;
  }

  .header {
    background-image: url('./pic/BG.png');
    height: 100vh;
    background-size: 400%;
  }

  .SignInBox {
    padding-top: 100px;
    padding-bottom: 50%;
    backdrop-filter: blur(10px);
  }

  .nevigator {
    background-color: #626FF2;
    height: 100%;
    position: static;
  }

  .sidetext {
    display: contents;
  }

  .sidetext1 {
    display: none;
  }

  .search {
    width: 105%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .ListProfile {
    display: none;
  }

  .Chat {
    display: none;
  }

  .ToTop {
    margin-bottom: 50px;
  }

  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 26%;
    width: 200px;
    height: 200px;
  }
}

.b-sub-text-1 {
  font-size: 1.5rem;
}

.b-sub-text-2 {
  font-size: 0.9rem;
}

.b-price-text {
  font-size: 0.9rem;
  font-weight: bolder;
}

.b-title-text {
  font-size: 1.5rem;
  font-weight: bolder;
}

.b-checkout-data {
  font-weight: normal;
  font-size: 0.9rem
}

.b-checkout-title {
  font-weight: bolder;
  font-size: 0.9rem
}

.b-title-event-status {
  color: #333333
}

.b-title-event-status a:hover {
  text-decoration: none;
}


#b-upload {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: normal;
}


.b-photo-post {
  position: relative;
  width: 100%;
  height: 350px;
}

.b-photo-post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.b-top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.b-image-preview {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #fff;
  border-radius: 10px;
  position: absolute;
  width: 200px;
}


#myUL li a {
  margin-top: -1px;
  padding: 12px;
  text-decoration: none;
  display: block;
}

.b-chart {
  height: 450px;
}

.icon-delete {
  color: red;
  font-size: 1.5rem;
}